#tabs-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    margin: 15px 15px;
    color: gray;
    
}




.photo {
    object-fit: cover;
}



.photo-title {
    display: flex;
    justify-content: space-between;
    padding: 10px; 
    margin-left: 5px;
    
}

.card-img-top {
    width: 700px;
    height: auto;
    object-fit: fill;
}
